*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbd2;
}

.bg-head {
    background-color: #049688;
    height: 150px;
}



.container-chat {
    position: fixed;
    background-color: #eaeaea;
    height: 90vh;
    width: 80vw;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 900px;
}

img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

/* left column */
.left {
    width: 35%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
}

/* user info */
.button i {
    font-size: 1.3rem;
    color: #b1b1b1;
    cursor: pointer;
}

/* notification sec */
.notifications {
    background-color: #8edafb;
    height: 60px;
}

.bell {
    color: #8edafb;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
}

/* search chat */
.search-menu {
background-color: #fafafa;
}
.search-menu i {
    color: #c9cbcd;
}

/* list chat box */
.list-chat-boxes {
    height: calc(100% - 185px);
    overflow-y: scroll;
    background-color: #fffffe;
}

.list-chat-box {
    border-top: 1px solid;
    border-color: #f5f5f5;
    height: 65px;
    width: 100%;
}

li.active {
    background-color: #E9EBEB;
}

.cont-list {
    font-size: 10px;
    margin-bottom: 20px;
}

.message-list-chat {
    color: grey;
    align-items: flex-start;
    opacity: 0.5;

}

.time-list-chat {
    position: absolute;
    right: 10px;
    top: 4px;
    color: grey;
    opacity: 0.5;
}


/* right column */
.right {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.chat-active-top {
    background-color: #E9EBEB;
    height: 71px;
    width: 100%;
    font-size: 10px;
}

/* chat  */
.message-container {
    width: 90%;
    margin: 30px auto;
}

.message {
    border-radius: 10px;
    padding: 10px 10px;
    width: 45%;
    overflow: auto;
    margin: 8px;
}


.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received {
    background-color: #fff;
    align-self: flex-start;
}