.bg-head {
    background-color: #049688;
    height: 23vh;
}

.bg-main {
    background-color: #dbdbd2;
    height: 77vh;
}

.container-chat {
    position: fixed;
    background-color: #eaeaea;
    height: 100vh;
    width: 80vw;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, 0);
}

img {
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

.contact {
    width: calc(100% / 3);
}

.chat {
    width: calc(100% / 3 * 2);
}

.button i {
    font-size: 1.3rem;
    color: #b1b1b1;
}

.notifications {
    background-color: #8edafb;
    height: 13vh;
}

.bell {
    color: #8edafb;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
}